* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html {
  height:100%;
}

body {
  height:100%;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
  background-color: black;
}

.crossesMain{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cross{
  width: 33%;
  margin: auto;
  color: white;
  text-align: center;
  background: red;
  height: 200px;
  position: relative;
  width: 40px;
  transform: rotate(45deg);
  /* top: 75px; */
}

.cross:after {
  background: red;
  content: "";
  height: 40px;
  left: -80px;
  position: absolute;
  top: 80px;
  width: 200px;
  transform: rotate(0deg);
}

.card{
  height: 100%;
  width: 100%;
  z-index: 5;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: center right;
  position: relative;
  cursor: pointer;
}

.card:hover{
  background-color: red;
}

.card:hover .cross{
  background: white;
}

.card:hover .cross::after{
  background: white;
}

.card.is-flipped{
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}

.front-card{
  height: 100%;
}

.back-card{
  background: slateblue;
  transform: rotateY(180deg);
}
