body{
    background: blue; 
}

/* Mobile CSS */
@media (max-width: 425px){
    body{
        background: black;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    main{
        width: 100%;
        height: 100%;
    }

    .crossesMain{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 40%;
    }
      
    .cross{
        width: 33%;
        margin: auto;
        color: white;
        text-align: center;
        background: red;
        height: 200px;
        position: relative;
        width: 40px;
        transform: rotate(45deg);
        cursor: pointer;
    }
      
    .cross:after {
        background: red;
        content: "";
        height: 40px;
        left: -80px;
        position: absolute;
        top: 80px;
        width: 200px;
        transform: rotate(0deg);
    }

    /* Home section */
    .home{
        width: 80%;
        height: 100vh;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .home h1{
        font-size: 2rem;
        color: white;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 2px;
        width: 100%;
        font-variant: small-caps;
    }

    /* Info section */
    .info{
        color: white;
        width: 80%;
        height: 100vh;
        margin: auto;
        transform-style: preserve-3d;
        transition: transform 1.5s ease-in-out;
        transform-origin: center right;
        position: relative;
        z-index: 5;
        -webkit-tap-highlight-color: transparent;
    }

    .info.is-flipped{
        transform: translateX(-100%) rotateY(-180deg);
    }

    /* Card Face */
    .card-face{
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        position: absolute;
    }

    /* Front card */
    .front-card{
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
        cursor: pointer;
    }

    /* Back card */
    .back-card{
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
        cursor: pointer;
    }

    /* Over mij */
    .over-mij{
        padding: 5px;
    }

    .over-mij h1{
        text-align: left;
        font-family: 'Raleway', sans-serif;
    }

    .over-mij p{
        text-align: left;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
    }

    .pf-img{
        width: 70%;
        height: auto;
        border-radius: 2px;
        border: solid 1px white;
    }

    /* Hobby */
    .hobby{
        padding: 5px;
    }

    .hobby h1{
        text-align: right;
        font-family: 'Raleway', sans-serif;
    }

    .hobby-list{
        padding: 5px;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        text-align: right;
        list-style: none;
        float: right;
    }

    /* Skills */
    .skills{
        padding: 5px;
    }

    .skills h1{
        text-align: right;
        font-family: 'Raleway', sans-serif;
    }

    .skills p{
        text-align: left;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
    }

    /* Talen */
    .talen{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .taal{
        border: solid 1px white;
        padding: 5px;
        margin: 5px;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
    }



    /* Hint circle */
    .circle {
        display: flex;
        border-radius: 50%;
        background-color: deepskyblue;
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        float: left;
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    }

    @keyframes scaleIn{
        from{
            transform: scale(.5, .5);
            opacity: .5;
        }
        to{
            transform: scale(2.5, 2.5);
            opacity: 0;
        }
    }

}

/* Desktop CSS */
@media (min-width: 768px){
    body{
        background: gray;
    }
}